<!DOCTYPE html>
<html lang="en">

<head>
	<title>Caitlyn's Home</title>
	<meta charset="UTF-8">
	<meta name="description" content="The home page of Caitlyn's personal page.">
	<meta name="author" content="caitlyn zhang">
	</header>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" defer></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" defer></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
		integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-md bg-info navbar-dark fixed-top shadow">
			<div class="d-flex flex-grow-1 m-3 ml-5">
				<a class="navbar-brand" href="#"><b class="h3"
						style="text-shadow: 2px 2px 0px cadetblue, 4px 4px 0px #888;">Caitlyn Zhang</b></a>
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav ml-auto flex-nowrap mr-5">
					<li class="nav-item m-2">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item m-2 active">
						<a class="nav-link" href="#">CV</a>
					</li>
					<li class="nav-item m-2">
						<a class="nav-link" href="#">Hire Me</Menu:c></a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<main>
		<section class="container mb-3 d-flex justify-content-center" style="margin-top:150px">
			<div class="row">
				<div class="col-auto m-4">
					<img class="rounded-circle float-left" src="/static/image/profile_pic.jpg" alt="profile picture"
						style="width:150px">
				</div>
				<div class="col-auto">
					<p class="mx-4 my-3 h4"><b>Caitlyn Zhang</b></p>
					<div style="font-family: 'Courier New',Courier,monospace;">
						<p class="mx-4 my-1"><i class="fas fa-phone m-2 text-info"></i>+1 226-984-7764</p>
						<p class="mx-4 my-1"><i class="fas fa-at m-2 text-info"></i>caitlynz_67@hotmial.com</p>
						<!-- <p class="mx-4 my-1"><i class="fas fa-map-marker-alt m-2 text-info"></i>Waterloo, ON</p> -->
						<p class="mx-4 my-1"><i class="fas fa-university m-2 text-info"></i>CS Student at the University
							of Waterloo</p>
					</div>
				</div>
				<form method="post" class="col-auto d-flex align-items-end m-4">
					<button type="button my-1 d-block" class="btn btn-outline-info mt-auto mb-3"
						style="border-radius:5em;">Download Resume</button>
				</form>

			</div>
		</section>

		<section class="container mb-5 text-center">
			<h2 class="m-5 p-2 text-center">Summary</h2>
			<div class="col-11 mx-auto">
				<p class="mx-5" style="font-size:1.4vw;">Experience in font end web development with HTML/CSS obtaining
					from StarterHacks 2020 with 3 other teammates, and knowledge of Flask, Python and JavaScript gained
					from a simple website porject.
					<br>Effective communication skill and problem-solving skill developed through establishing and
					improving
					the elevator on
					the robot, as well as holding school performance as one of the producer team.
					<br>Full of passion and curiosity; self-disciplined and self-motivated; always eager to learn new
					things.
				</p>
			</div>
		</section>

		<section>
			<h2 class="m-5 p-2 text-center">Education</h2>
			<div class="col-8 mx-auto border-bottom pb-5">
				<div class="row">
					<div class="col-auto"><h3>University of Waterloo</h3></div>
					<div class="col-auto ml-auto d-flex align-items-end"><h6 class="text-black-50">Waterloo, ON</h6></div>
				</div>
				<div class="row">
					<div class="col-auto">
						<p class="badge badge-info" style="border-radius:5em;">Honours Computer Science</p>
					</div>
					<div class="col-auto ml-auto">
						<h6 class="text-black-50">09/2019 - Current</h6>
					</div>
				</div>
				<ul class="font-weight-light" style="list-style-type: circle;">
					<li>Cumulative GPA: 93.7</li>
					<li>Award: University of Waterloo President's Scholarship (2019)</li>
					<li>Coursework: Object-Oriented Software Development; Logic and Computation; Algorithm Design
						and Data Abstraction; Linear Algebra; Calculus; Statistics; Economics etc.</li>
				</ul>
			</div>
			<div class="col-8 mx-auto border-bottom py-5">
				<div class="row">
					<div class="col-auto"><h3>London International Academy</h3></div>
					<div class="col-auto ml-auto d-flex align-items-end"><h6 class="text-black-50">London, ON</h6></div>
				</div>
				<div class="row">
					<div class="col-auto">
						<p class="badge badge-info" style="border-radius:5em;">High School</p>
					</div>
					<div class="col-auto ml-auto">
						<h6 class="text-black-50" >07/2018 - 04/2019</h6>
					</div>
					<ul class="font-weight-light" style="list-style-type: circle;">
						<li>Member of STEM club & School FRC Robotic team</li>
						<li>Award: Euclid Math competition reached the first 25% (2019)</li>
						<li>Coursework: Computer Engineering Techonology; Advance Function; Calculus; Data Analysis; Physics etc.</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="container">
			<h2 class="m-5 p-2 text-center">Related Skills</h2>
			<div class="row center mb-5 mx-5">
				<div class="card col-md-5 mx-auto my-2">
					<div class="m-3">
						<h5 class="mx-1 my-2">HTML</h5>
						<div class="progress" style="height:5px">
							<div class="progress-bar bg-info" style="width:90%;height:5px;"><span
									class="d-none">90%</span>
							</div>
						</div>
					</div>
					<div class="m-3">
						<h5 class="mx-1 my-2">CSS</h5>
						<div class="progress" style="height:5px">
							<div class="progress-bar bg-info" style="width:70%;height:5px;"><span
									class="d-none">70%</span>
							</div>
						</div>
					</div>
					<div class="m-3">
						<h5 class="mx-1 my-2">JavaScript</h5>
						<div class="progress" style="height:5px">
							<div class="progress-bar bg-info" style="width:30%;height:5px;"><span
									class="d-none">30%</span>
							</div>
						</div>
					</div>
					<div class="m-3">
						<h5 class="mx-1 my-2">Flask</h5>
						<div class="progress" style="height:5px">
							<div class="progress-bar bg-info" style="width:50%;height:5px;"><span
									class="d-none">50%</span>
							</div>
						</div>
					</div>
				</div>
				<div class="card col-md-5 mx-auto my-2">
					<div class="m-3">
						<h5 class="mx-1 my-2">C</h5>
						<div class="progress" style="height:5px">
							<div class="progress-bar bg-info" style="width:70%;height:5px;"><span
									class="d-none">70%</span>
							</div>
						</div>
					</div>
					<div class="m-3">
						<h5 class="mx-1 my-2">Microsoft Office Suite</h5>
						<div class="progress" style="height:5px">
							<div class="progress-bar bg-info" style="width:90%;height:5px;"><span
									class="d-none">90%</span>
							</div>
						</div>
					</div>
					<div class="m-3">
						<h5 class="mx-1 my-2">FreeCAD</h5>
						<div class="progress" style="height:5px">
							<div class="progress-bar bg-info" style="width:50%;height:5px;"><span
									class="d-none">50%</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


	</main>

	<footer>
		<div class="bg-info text-center p-4">
			<div class="container">
				<a class="btn btn-link" href="#" style="color:#fff">About me</a>
				<a class="btn btn-link" href="#" style="color:#fff">Contant me</a>
			</div>
			<div class="container">
				<a class="btn btn-link" href="https://github.com/CaitlynZ/" target="_blank" style="color:#fff"><i
						class="fab fa-github"><span class="d-none">github</span></i></a>
				<a class="btn btn-link" href="https://www.instagram.com/caitlynz67/" target="_blank"
					style="color:#fff"><i class="fab fa-instagram"><span class="d-none">instagram</span></i></a>
				<a class="btn btn-link" href="https://www.linkedin.com/in/caitlynzhang" target="_blank"
					style="color:#fff"><i class="fab fa-linkedin-in"><span class="d-none">linkedin</span></i></a>
			</div>
		</div>
	</footer>
</body>